
h1,h2,h3,h4,h5,h6 {
	color:#FFCCAA;
}

.cajah{
	height:120px;
	top:20px;
	position:relative;
	bottom:140px;
	float:left;
}

ul div li {
    text-align: center;
    transition: all 250ms;
}

li a {
    text-decoration: none;
}

ul div li:hover {
    cursor: pointer;
    transform: scale(1.05);
}

h1 {
	display:inline-block;
	position:absolute;
	left:100px;
	bottom:30px;
}

a {
	color:#15A8A8;
}

header img{
	bottom:50px;
	position:absolute;
}

nav li{
	background:#1D2B53;
	font-size:90%;
	color:#15A8A8;
	width:120px;
	padding: 5px;
	border: 5px outset #1D2B53;
	border-radius:10px;
	display:inline-block;
	left:330px;
	top:10px;
	position:relative;
}

nav {
	display:inline-block;
}

blockquote {
	font-size:0.75em;
}

footer {
	font-size:80%;
}

body {
	background:url(../img/menu_01.png);
	background-attachment:fixed;
	color:#FFF1E8;
	font-size:24px;
	font-family:"SOURCE SANS PRO";
	
}

.objetivos {
	background-color:#1D2B53;
	border:10px outset #1D2B53;

}

h2 {
	position:relative;
	text-align:center;
}

div h2 {
	color:#FF77A8;
	margin:0px;
	padding:10px;
}

.videos li{
	background:#1D2B53;
	font-size:90%;
	color:#008751;
	height:409px;
	margin:20px;
	padding: 5px;
	border: 5px outset #7E2553;
	border-radius:10px;
	display:inline-block;
	left:200px;
	position:relative;
}

.imagenes li{
	background:#1D2B53;
	font-size:90%;
	color:#008751;
	height:600px;
	margin:20px;
	padding: 5px;
	border: 5px outset #7E2553;
	border-radius:10px;
	display:inline-block;
	left:150px;
	position:relative;
	text-align:center;
}

audio{
	background:#1D2B53;
	font-size:90%;
	color:#008751;
	height:50px;
	margin:20px;
	padding: 5px;
	border: 5px outset #7E2553;
	border-radius:10px;
	display:inline-block;
	position:relative;
}